.flex-container {
    display: flex;
    flex-flow: row;
    /*align-items: stretch;
    justify-content: space-between;*/
    background-color: blueviolet;
    /*justify-content: stretch;
    align-items: stretch;*/
    /*justify-content: space-around;*/
    /*flex-wrap: wrap;
    flex-flow: column-reverse;
    flex-flow: row-reverse;*/
    flex-wrap: wrap;
}

    .flex-container div h2:hover {
        background: #fff;
    }

.flex-item {
    flex-grow: 1;
    width: 300px;
    flex-shrink: 0;
    flex-basis: 300px;
    flex: 1 1 0;
    /* flex-basis and flex-shrink and flex grow they are all in one property*/
}

.flex-item-1 {
    background: maroon;
}

.flex-item-2 {
    background: aqua;
}
