
@import url('../../Flex/layout.css');
@import url('../../Flex/masthead.css');
@import url('../../Flex/reset.css');
@import url('../../Flex/typography.css');


.menu-section {
    margin-bottom: 2rem;
    padding-bottom: 2rem;
}

.menu ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    background-color: #dcdde1;
}

.menu li a {
    text-decoration: none;
    color: #353b48;
    padding: .6em 1em;
    display: block;
    transition: all .5s ease;
}

    .menu li a:hover {
        background: #fff;
    }

@media screen and (min-width:600px) {
    .single-nav ul {
        display: flex;
        justify-content: right;
        flex-wrap: wrap;
    }

    /*.single-nav ul li {
            flex-basis: auto;
            flex-grow: 1;
            flex-shrink: 0;
        }*/
}

@media screen and (min-width:600px) {
    .advance-nav ul {
        display: flex;
        flex-wrap: wrap;
    }

        .advance-nav ul li {
            flex-grow: 1;
            flex-basis: 220px;
        }

            .advance-nav ul li a {
                display: flex;
            }

                .advance-nav ul li a .icon {
                    flex-basis: 40px;
                }

                .advance-nav ul li a .text {
                    font-size: 25px;
                    font-weight: bold;
                }

                    .advance-nav ul li a .text span {
                        display: block;
                        font-size: 15px;
                        font-weight: lighter;
                        font-style: italic;
                    }
}

@media screen and (min-width:600px) {
    .class1 {
        display: flex;
    }
}
