

* {
    margin: 0px;
    padding: 0px;
}

.topnav {
    background-color: #F6F7FB;
    overflow: hidden;
}

    /* Style the links inside the navigation bar */
    .topnav a {
        float: left;
        color: black;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
        font-size: 12px;
    }

        /* Change the color of links on hover */


        /* Add a color to the active/current link */
        .topnav a.active {
            color: black;
        }

.img1 {
    background-image: url('../../images/img (129).jpg');
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
}

.img2 {
    background-image: url('../../images/img (15).jpg');
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
}

.img3 {
    background-image: url('../../images/img (16).jpg');
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
}

.img4 {
    background-image: url('../../images/img (35).jpg');
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
}

.img5 {
    background-image: url('../../images/img (46).jpg');
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
}

.img6 {
    background-image: url('../../images/img (88).jpg');
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
}

.ml {
    margin-left: 12%;
}

.slider ul li {
    width: 100%;
    height: 550px;
}

.slider h2 {
    font-weight: bold;
}

.tabs-cyan {
    background-color: #ed1c53;
    border-radius: 8px;
}


/*   Slider Css Styling*/
#fun-fact {
    background-image: url('../../Images/Screenshot (97).png');
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
}

.padd {
    padding: 5%;
}

/*Media Quries*/

@media (max-width: 760px) {
    .media-key {
        width: 100%;
    }
}

@media (max-width: 1000px) {
    .media-key {
        width: 98%;
    }
}





@media screen and (min-width:600px) {
    .advance-nav ul {
        display: flex;
        flex-wrap: wrap;
    }

        .advance-nav ul li {
            flex-grow: 1;
            flex-basis: 220px;
            list-style-type: none;
        }

            .advance-nav ul li a {
                display: flex;
                text-decoration: none;
            }

                .advance-nav ul li a .icon {
                    flex-basis: 100px;
                }

                .advance-nav ul li a .text {
                    font-size: 25px;
                    font-weight: bold;
                }

                    .advance-nav ul li a .text span {
                        display: block;
                        font-size: 15px;
                        font-weight: lighter;
                        font-style: italic;
                    }
}

.advance-nav ul li {
    list-style-type: none;
}
